
 @font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
 }
body{
    font-family: roboto ;
}
#drones-right-body{
    padding: 2rem;
}
#right-body-title-bar{
    display: flex;
    column-gap : 1rem;
}
#drones-cont2{
    background: rgba(255, 230, 0, 0.12);
    background-image: url("images/pending.png");
    background-size:3.125rem;
   background-repeat: no-repeat;
   background-position: 95% 90%;
}
#drones-cont3{
    background:rgba(30, 205, 37, 0.1);
    background-image: url("images/accepted.png");
    background-size: 2.5rem;
   background-repeat: no-repeat;
   background-position: 95% 90%;
}
#right-body-middle-bar{
    display: flex;
    justify-content: space-between;
}
#right-body-middle-bar > span {
    padding-top: 2rem;
    font-weight: 500;
}
#right-body-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:2.5rem;
}
.right-body-main-container-divs{
    padding: 10%;
    background: #FFFFFF;
    border: 0.063rem solid #E9E3FF;
    box-shadow: 0px 1.25rem 1.25rem rgba(199, 180, 180, 0.1);
    border-radius: 0.75rem;
}
.right-body-main-container-divs-upper{
    display: flex;
}
.right-body-main-container-divs-upper-left-icon-image{
    margin-left: 10%;
    width: 2.5rem;
}
.right-body-main-container-divs-upper-left{
    padding: 0.313rem;
    border-left:  0.125rem solid rgba(3, 157, 243, 1);
}
.right-body-main-container-divs-upper-middle{
    margin-left: 10%;
}
.right-body-main-container-divs-upper-middle > p{
    margin-block: 0.313rem;
}
.right-body-main-container-divs-upper-right{
    margin-left: auto;
    padding: 0.125rem;
}
.attention-icon{
    display: none;
}
#attention-icon-on{
    display: unset;
}
.right-body-main-container-divs-upper-middle-first-pargraph{
    font-weight: bold;
}
.right-body-main-container-divs-lower-cont{
    margin-top: 1rem;
    justify-content: space-between;
    display: flex;
}
.right-body-main-container-divs-lower > p{
    margin-block: 0.625rem;
    font-weight: bold;
}
@media all and (max-width: 83.375rem){
    #right-body-main-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
